*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/gptc.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
     width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align:center;
}
.text-box h1{
    font-size: 42px;
}
.text-box p{
    margin: 18px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

nav .fa{
    display: none;
}

@media(max-width: 550px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align:  left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;

    }
    nav img{
        width: 100px;
    }
}


/*--Course--*/

.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.course h2{
    font-size: 36px;
    font-weight: 600;
    padding-bottom: 15px;
}
.course p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

@media only screen and (max-width: 550px){
    .course h2{
        font-size: 25px;
    }
}



/*table*/

div.blueTable {
	border: 1px solid #000000;
	background-color: #EEEEEE;
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}

.divTable.blueTable .divTableCell,
.divTable.blueTable .divTableHead {
	border: 1px solid #AAAAAA;
	padding: 3px 2px;
}

.divTable.blueTable .divTableBody .divTableCell {
	font-size: 15px;
}


/*.divTable.blueTable .divTableRow:nth-child(even) {
    background: #D0E4F5;
  }*/

.divTable.blueTable .divTableHeading {
	background: #aaacad;
	background: -moz-linear-gradient(top, #dcdcdc 0%, #dcdcdc 66%, #dcdcdc 100%);
	background: -webkit-linear-gradient(top, #dcdcdc 0%, #dcdcdc 66%, #dcdcdc 100%);
	background: linear-gradient(bottom, #dcdcdc 0%, #dcdcdc 66%, #dcdcdc 100%);
	border-bottom: 0.2px solid #000000;
}

.divTable.blueTable .divTableHeading .divTableHead {
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	border-left: 0px solid #242625;
}

.divTable.blueTable .divTableHeading .divTableHead:first-child {
	border-left: none;
}

.blueTable .tableFootStyle {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	background: #d0f5df;
	background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
	background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
	background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
	border-top: 2px solid #000000;
}

.blueTable .tableFootStyle {
	font-size: 14px;
}

.blueTable .tableFootStyle .links {
	text-align: right;
}

.blueTable .tableFootStyle .links a {
	display: inline-block;
	/* background: #1C6EA4;*/
	color: #FFFFFF;
	padding: 2px 8px;
	border-radius: 5px;
}

.blueTable.outerTableFooter {
	border-top: none;
}

.blueTable.outerTableFooter .tableFootStyle {
	padding: 3px 5px;
}


/* DivTable.com */

.divTable {
	display: table;
}

.divTableRow {
	display: table-row;
}

.divTableHeading {
	display: table-header-group;
}

.divTableCell,
.divTableHead {
	display: table-cell;
}

.divTableHeading {
	display: table-header-group;
}

.divTableFoot {
	display: table-footer-group;
}

.divTableBody {
	display: table-row-group;
}

.center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}


/* Placement */

.placement{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/gptc-lab.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.placement h2{
    color: white;
    font-size: 36px;
    font-weight: 600;
}
.placement p{
    color: white;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.placement .hero-btn{
    color: white;
    border: 1px solid white;
}

@media only screen and (max-width: 550px){
    .placement h2{
        font-size: 25px;
        padding-bottom: 25px;
    }
}


/* Company */
.company{
    box-sizing: border-box;
    width: 80%;
    margin: auto;
    text-align: center;
}
.company h2{
    font-size: 35px;
    font-weight: 400;
    color: gray;
    padding-bottom: 50px;
}

.company-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.company .card{
    width: 270px;
    margin: 10px;
}

.company .card-image{
    height: 150px;
    margin-bottom: 15px;
    background-size: cover;
}
.company .company-1{
    background-image: url('images/l&t.jpg');
}
.company .company-2{
    background-image: url('images/voltas.jpg');
}
.company .company-3{
    background-image: url('images/tatae.jpg');
}
.company p{
    padding: 10px;
}

.company .card a{
    text-decoration: none;
    color: rgb(62, 62, 62);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
}

.company .card:hover{
    background-color: gray;
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all .5s ease;
}

@media only screen and (max-width: 550px){
    .company h2{
        font-size: 25px;
        font-weight: 350;
    }
}


/* Student */
.student{
    box-sizing: border-box;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.student h2{
    font-size: 35px;
    font-weight: 400;
    padding-bottom: 50px;
    color: gray;
}

.stud-sec{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}
.stud-area{
    display: flex;
    width: 90%;
    justify-content: space-around;
    flex-wrap: wrap;
}
.stud-team{
    width: 150px;
    height: 200px;
    padding: 24px;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: .6s ease-out;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
.stud-team:hover{
    transform: translateY(15px);
}
.stud-team:hover:before{
    opacity: 1;
}
.stud-team:hover .stud-text{
    opacity: 1;
    transform: translateY(0);
}
.stud-team:befor{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #000, transparent);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
}
.stud-team img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
.stud-team .stud-text{
    position: relative;
    z-index: 3;
    color:  white;
    opacity: 0;
    transform: translateY(60px);
    transition: 0.5s;
}
.stud-text h3{
    margin: 0;
    font-family: 'Poppins', sans-serif; 
}
.stud-text p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

@media only screen and (max-width: 550px){
    .student h2{
        font-size: 25px;
        font-weight: 350;
    }
}


/* About */

.about-container{
    display: grid;
    height: 70vh;
    background: gray;
    color: white;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "about quicklinks locate"
        "importantlinks address totop"
}

.about{
    grid-area: about;
}
.about-container h3{
    font-size: 20px;
    font-weight: 300;
    padding-top: 15px;
    padding-left: 15px;
}
.about-container p{
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 15px;
}

.quicklinks{
    grid-area: quicklinks;
}
.quicklinks .list-item{
    text-decoration: none;
    color: white;
    padding-left: 15px;
    font-size: 14px;
    font-weight: 300;
}

.locate{
    grid-area: locate;
}
.locate .map{
    padding: 15px;
}

.importantlinks{
    grid-area: importantlinks;
}
.importantlinks .list-item{
    text-decoration: none;
    color: white;
    padding-left: 15px;
    font-size: 14px;
    font-weight: 300;
}

.address{
    grid-area: address;
    padding-top: 15px;
}

.totop{
    grid-area: totop;
    text-align: center;
    padding: 60px;
}
.totop .fa{
    font-size: 70px;
    color: white;
}


@media only screen and (max-width: 550px){
    .about-container{
        display: block;
        height: 100%;
        background: gray;
        color: white;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas: 
            "about",
            "quicklinks",
            "locate",
            "importantlinks", 
            "address",
            "totop";
    }
    .totop .fa{
        font-size: 45px;
        color: white;
    }
}



/* Copyright */
.copyright{
    text-align: center;
    background: #4D5157;
    height: 40px;
}
.copyright p{
    font-size: 14px;
    font-weight: 300;
    color: white;
    padding-top: 10px;
}

@media only screen and (max-width: 550px){
    .copyright p{
        font-size: 12px;
    }
}